<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<FlexboxLayout class="page page-content full-page" flexDirection="column" flexGrow="1">
    <FlexboxLayout flexDirection="column" flexGrow="1" backgroundColor="rgba(0, 0, 0, 0.7)">
        <FlexboxLayout flexGrow="1.5"></FlexboxLayout>
        <Image src="~/assets/images/logo.png" width="90%" style="margin-bottom: 256px"></Image>
        <Button class="btn btn-primary btn-jsday" text="Agenda" (tap)="openAgenda($event)"></Button>
        <Button class="btn btn-primary btn-jsday" text="Log in"></Button>
        <FlexboxLayout flexGrow="1"></FlexboxLayout>
    </FlexboxLayout>
</FlexboxLayout>